In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/english.tsv", delimiter="\t", header=None)
df = pd.read_csv("../data/english.csv", delimiter=",", header=None)
df.columns = ["text", "label"]
print(df.head())

        text         label
0       text         label
1  Accosinly  Occasionally
2    Ciculer       Circler
3     Circue        Circle
4   Maddness       Madness

In [5]:
df.shape

(2533, 2)

In [44]:
from datasets import load_dataset

ds = load_dataset("nyu-mll/glue", "mnli_matched")

In [45]:
from collections import Counter

words = dict(Counter(" ".join(ds["validation"]["premise"]).split()))
words = {key: val for key, val in words.items() if val > 10}
words = words.keys()
len(words)

1985

In [46]:
correct_df = pd.DataFrame({"text": words, "label": words})
df = pd.concat([df, correct_df], axis=0)
df.drop_duplicates(inplace=True)
df.shape

(2532, 2)

In [47]:
df

               text          label
0         Accosinly   Occasionally
1           Ciculer        Circler
2            Circue         Circle
3          Maddness        Madness
4       Occusionaly   Occasionally
...             ...            ...
1980         funded         funded
1981   agricultural   agricultural
1982  understanding  understanding
1983     Techniques     Techniques
1984           sir.           sir.

[2532 rows x 2 columns]

In [48]:
df.to_csv("../data/english.csv", sep=",", index=False)